<%= render 'shared/profile_header' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My Animals</h2>
    </div>
    <% @user.animals.each do |animal| %>
      <%= link_to animal_path(animal) do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path animal.photo, crop: :fill %>')">
            <div class="card-name"><%= animal.title %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% @user.animals.each do |animal| %>
    <% if animal.bookings.any? { |booking| booking.end_date.to_time.to_i > Time.now.to_i } %>
      <div class="row">
        <div class="col-xs-12">
          <h2>Future bookings</h2>
          <% animal.bookings.each do |booking| %>
            <% if booking.start_date.to_time.to_i > Time.now.to_i  %>
              <div class="message">
                 <% avatar_url = booking.user.facebook_picture_url || "http://placehold.it/30x30" %>
                 <%= image_tag avatar_url, class: "avatar large" %>
                <div class="message-name">
                  <h3><%= booking.user.first_name %> <%= booking.user.last_name %></h3>
                  <p> </p>
                </div>
                <div class="message-body">
                  <p>Booking request for <strong><%= booking.animal.title %></strong></p>
                  <p>
                    from <%= booking.start_date %> to <%= booking.end_date %>
                  </p>
                </div>
                <div class="message-status">
                  <p class="status pending"><%= booking.status %></p>
                  <p class="price"><%= booking.price %>€</p>
                </div>
              </div>
            <% end %>
          <% end  %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% @user.animals.each do |animal| %>
    <% if animal.bookings.any? { |booking| booking.start_date.to_time.to_i <= Time.now.to_i && booking.end_date.to_time.to_i > Time.now.to_i } %>
      <div class="row">
        <div class="col-xs-12">
          <h2>Current bookings</h2>
          <% animal.bookings.each do |booking| %>
            <% if booking.start_date.to_time.to_i <= Time.now.to_i && booking.end_date.to_time.to_i > Time.now.to_i  %>
              <div class="message">
                 <% avatar_url = booking.user.facebook_picture_url || "http://placehold.it/30x30" %>
                 <%= image_tag avatar_url, class: "avatar large" %>
                <div class="message-name">
                  <h3><%= booking.user.first_name %> <%= booking.user.last_name %></h3>
                  <p> </p>
                </div>
                <div class="message-body">
                  <p>Booking request for <strong><%= booking.animal.title %></strong></p>
                  <p>
                    from <%= booking.start_date %> to <%= booking.end_date %>
                  </p>
                </div>
                <div class="message-status">
                  <p class="status pending"><%= booking.status %></p>
                  <p class="price"><%= booking.price %>€</p>
                </div>
              </div>
            <% end %>
          <% end  %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% @user.animals.each do |animal| %>
    <% if animal.bookings.any? { |booking| booking.end_date.to_time.to_i < Time.now.to_i } %>
      <div class="row">
        <div class="col-xs-12">
          <h2>Past bookings</h2>
          <% animal.bookings.each do |booking| %>
            <% if booking.end_date.to_time.to_i < Time.now.to_i %>
              <div class="message">
                 <% avatar_url = booking.user.facebook_picture_url || "http://placehold.it/30x30" %>
                 <%= image_tag avatar_url, class: "avatar large" %>
                <div class="message-name">
                  <h3><%= booking.user.first_name %> <%= booking.user.last_name %></h3>
                  <p> </p>
                </div>
                <div class="message-body">
                  <p>Booking request for <strong><%= booking.animal.title %></strong></p>
                  <p>
                    from <%= booking.start_date %> to <%= booking.end_date %>
                  </p>
                </div>
                <div class="message-status">
                  <p class="status pending"><%= booking.status %></p>
                  <p class="price"><%= booking.price %>€</p>
                </div>
              </div>
            <% end %>
          <% end  %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>


