<%= render 'shared/profile_header' %>

<div class="container">
  <% if @user.bookings.any? { |booking| booking.start_date.to_time.to_i < Time.now.to_i } %>
    <div class="row">
      <div class="col-xs-12">
        <h2>Bookings to review</h2>
        <% @user.bookings.each do |booking| %>
          <% if booking.end_date.to_time.to_i < Time.now.to_i %>
            <%= link_to animal_path(booking.animal) do %>
              <div class="product">
                <%= image_tag booking.animal.photo, class: "product-image hidden-xs"%>
                <div class='product-body'>
                  <h3><%= booking.animal.title %></h3>
                  <h6><%= booking.user.first_name %> <%= booking.user.last_name %></h6>
                  <p><%= booking.animal.address %></p>
                <%= link_to 'review', new_animal_booking_review_path(booking.animal, booking), {class: "btn btn-primary"} %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>


<div class="container">
   <div class="row">
    <div class="col-xs-12">
      <h2>Past reviews</h2>
      <% @user.bookings.each do |booking| %>
         <% if booking.review  %>
          <div class="message">
             <% avatar_url = booking.user.facebook_picture_url || "http://placehold.it/30x30" %>
             <%= image_tag avatar_url, class: "avatar large" %>
            <div class="message-name">
              <h3><%= booking.user.first_name %> <%= booking.user.last_name %></h3>
              <p> </p>
            </div>
            <div class="message-body">
              <p><strong><%= booking.animal.title %></strong></p>
              <p><%= booking.review.comment %></p>
            </div>
            <div class="message-status">
              <p class="price"><%= booking.review.rating %>/5</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


