<%= render 'shared/profile_header' %>

<div class="wrapper">

  <div class="container">
    <% if @user.bookings.any? { |booking| booking.end_date.to_time.to_i >= Time.now.to_i && booking.status != "declined"} %>
      <div class="row">
        <div class="col-xs-12">
          <div class="message-container">
            <% @user.bookings.each do |booking| %>
              <%= link_to animal_path(booking.animal) do %>
              <div class="message">
                <% avatar_url = booking.animal.user.facebook_picture_url || "http://placehold.it/30x30" %>
                <%= image_tag avatar_url, class: "avatar" %>
                <div class="message-name">
                  <h2><%= booking.animal.user.first_name %> <%= booking.animal.user.last_name %></h2>
                  <p><%= booking.created_at.to_date %></p>
                </div>
                <div class="message-body">
                  <p><strong><%= booking.animal.title %></strong></p>
                  <h3><strong><%= (booking.end_date - booking.start_date).to_i %> days</strong>, from <%= booking.start_date %> to <%= booking.end_date %></h3>
                </div>
                <div class="message-status">
                  <p class="status pending"><%= booking.status %></p>
                  <p class="price"><%= booking.price %>€</p>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container">
    <% if @user.bookings.any? { |booking| booking.start_date.to_time.to_i < Time.now.to_i } %>
      <div class="row">
        <div class="col-xs-12">
          <h2>Reviews</h2>
          <% @user.bookings.each do |booking| %>
            <% if booking.end_date.to_time.to_i < Time.now.to_i && booking.review.nil? && booking.status == "accepted" %>
              <div class="message">
                <% avatar_url = booking.animal.user.facebook_picture_url || "http://placehold.it/30x30" %>
                <%= image_tag avatar_url, class: "avatar" %>
                <div class="message-name">
                  <h2><%= booking.animal.user.first_name %> <%= booking.animal.user.last_name %></h2>
                </div>
                <div class="message-body">
                  <p>How was your experience with <strong><%= booking.animal.title %></strong> ?</p>
                  <h3>You have booked <%= booking.animal.title %> from <%= booking.start_date %> to <%= booking.end_date %></h3>
                </div>
                <%= link_to 'Review', new_animal_booking_review_path(booking.animal, booking), {class: "btn btn-primary"} %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12">
        <% @user.bookings.each do |booking| %>
          <% if booking.review %>
            <div class="message">
              <% avatar_url = booking.animal.user.facebook_picture_url || "http://placehold.it/30x30" %>
              <%= image_tag avatar_url, class: "avatar" %>
              <div class="message-name">
                <h2><%= booking.animal.user.first_name %> <%= booking.animal.user.last_name %></h2>
              </div>
              <div class="message-body">
                <p><%= booking.review.comment %></p>
                <h3><%= booking.animal.title %> from <%= booking.start_date %> to <%= booking.end_date %></h3>
              </div>
              <div class="stars">
                <ul class="list-inline">
                  <% booking.animal.rating[0].times do %>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <% end %>
                  <% if booking.animal.rating[1] != 0 %>
                    <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  <% end %>
                  <% booking.animal.rating[2].times do %>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                  <% end %>
                </ul>
              </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>

</div>
