<div class="wrapper">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
          <% avatar_url = @user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar" %>
          <h1>Hello <%= @user.first_name %> <%= @user.last_name %></h1>
          <h5>Taxidermist since <%= @user.created_at.strftime("%B %d %Y") %></h5>
        <div class="tabs">
          <%= link_to 'Reviews', profile_path, class: "tab active" %>
          <%= link_to 'Bookings', profile_bookings_path, class: "tab" %>
          <%= link_to 'Rentals', profile_animals_path, class: "tab" %>
        </div>
      </div>
    </div>
  </div>
</div>
