<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div class="row">
          <div class="col-xs-12">

            <div class="box-design">
              <div class="row">
                <div class="col-xs-10">
                  <div class="title">
                    <h1><%= @animal.title %></h1>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="animal-actions text-right">
                    <% if current_user = @animal.user %>
                      <%= link_to edit_animal_path(@animal) do %>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      <% end %>
                      <%= link_to animal_path(@animal), method: :delete do %>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
              <p> <%= @animal.description %> </p>
            </div>

            <div class="general_content box-design">
              <h3>Property of</h3>
              <p> <%= @animal.user.first_name %> <%= @animal.user.last_name %></p>
              <div id="owner-profile-picture avatar ">
                <%= image_tag @animal.photo, height: 60, width: 60, style:"border-radius: 50px;" %>
              </div>
            </div>

            <div class="booking-form form-inline">
              <%= simple_form_for [@animal, @booking] do |f| %>
                <%= f.text_field :start_date, placeholder: "Start date", class: 'datepicker form-control'%>
                <%= f.text_field :end_date, placeholder: "End date", class: 'datepicker form-control'%>
                <%= f.button :submit, class: "btn form-control btn-success" %>
              <% end %>
            </div>


          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <%= cl_image_tag @animal.photo, height: 400, width: 400, crop: :fill, style:" box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        border: white 1px solid;" %>
      </div>
    </div>
  </div>
</div>





<div id="map"></div>
<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>

