<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="row-content">
        <div class="col-xs-7">
          <div class="bottom-border">
            <div class="row">
              <div class="col-xs-10">
                <div class="title">
                  <h1><%= @animal.title %></h1>
                </div>
                <div class="stars">
                    <p id="rating">Rating:</p>
                    <% if @animal.rating == 0 %>
                      <p id="no-review">Not rated yet</p>
                    <% else %>
                      <ul class="list-inline">
                        <% @animal.rating[0].times do %>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <% end %>
                        <% if @animal.rating[1] != 0 %>
                          <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <% end %>
                        <% @animal.rating[2].times do %>
                          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <% end %>
                      </ul>
                    <% end %>
                </div>
                <p> <%= @animal.description %> </p>
              </div>
              <div class="col-xs-2">
                <div class="animal-actions text-right">
                  <% unless current_user != @animal.user %>
                    <%= link_to edit_animal_path(@animal) do %>
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <% end %>
                    <%= link_to animal_path(@animal), method: :delete do %>
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="bottom-border user-section">
              <h3>Property of</h3>
              <div class="user-info">
                <%= link_to profile_path(@animal.user) do %>
                  <p><strong><%= @animal.user.first_name %> <%= @animal.user.last_name %></strong></p>
                <% end %>
                  <p><%= @animal.user.nb_reviews %> Reviews</p>
                <%= link_to profile_animals_path(@animal.user) do %>
                  <p><%= @animal.user.animals.count %> Animals to rent</p>
                <% end %>

              </div>
            <div id="avatar">
              <% avatar_url = @animal.user.facebook_picture_url || "http://placehold.it/30x30" %>
              <%= image_tag avatar_url %>
            </div>
          </div>

          <div class="booking-form form-inline">
            <% if current_user == @animal.user %>
              <p>You can't book your own animal.</p>
            <% else %>
              <%= simple_form_for [@animal, @booking] do |f| %>
                <%= f.text_field :start_date, placeholder: "Start date", class: 'datepicker form-control'%>
                <%= f.text_field :end_date, placeholder: "End date", class: 'datepicker form-control'%>
                <%= f.button :submit, class: "btn-death" %>
              <% end %>
            <% end %>
          </div>

          <div class="bottom-border reviews-section">
            <h3>Reviews</h3>
            <% if @animal.bookings == [] %>
              <p>No review yet</p>
            <% else %>
              <% @animal.bookings.each do |booking| %>
                <% if booking.review %>
                  <div class="message">
                     <% avatar_url = booking.user.facebook_picture_url || "http://placehold.it/30x30" %>
                     <%= image_tag avatar_url, class: "avatar large" %>
                    <div class="message-name">
                      <h3><%= booking.user.first_name %> <%= booking.user.last_name %></h3>
                      <p> </p>
                    </div>
                    <div class="message-body">
                      <p><%= booking.review.comment %></p>
                    </div>
                    <div class="message-status">
                      <p class="price">
                        <ul class="list-inline">
                          <% booking.review.rating.times do %>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <% end %>
                          <% (5 - booking.review.rating).times do %>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                          <% end %>
                        </ul>
                      </p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="image-container">
            <%= cl_image_tag @animal.photo, crop: :fill %>
          </div>
        </div>
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>

